<h1>ジャンル一覧・追加</h1>
<%= form_with model: @genre,url:admin_genres_path(@genre), local:true do |f| %>
<div class="form-group">
 <label for="genre_name">ジャンル名</label>
 <%= f.text_field :name %>
 <%= f.submit "新規登録",class: "btn btn-sm btn-success" %>
</div>
<% end %>
 <h4>ジャンル</h4>
 <% @genres.each do |genre| %>
  <%= genre.name %>
  <%= link_to "編集する",edit_admin_genre_path(genre), class: "btn btn-sm btn-success" %>

<% end %>