<h2>ログイン</h2>
<h2>会員の方はこちらからログイン</h2>
<%= form_with model: @public, url: public_session_path, local: true do |f| %>
<table>
  <tr>
    <th><%= f.label :メールアドレス %></th>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </tr>
  <tr>
    <th><%= f.label :パスワード %></th>
    <td><%= f.password_field :password, autocomplete: "current-password" %></td>
  </tr>
  <tr>
    <th></th>
    <td><%= f.submit "ログイン" %></td>
  </tr>
</table>
<% end %>

<h4>会員登録がお済みでない方</h4>
<%= link_to "こちら", new_public_registration_path %> から新規登録を行ってください。
