<h1>ショッピングカート</h1>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>商品名</h2>
       <% @cart_items.each do |cart_item| %>
       <%= attachment_image_tag cart_item.product, :image, format: 'jpeg',size: "100x50" %>
       <%= cart_item.product.name %></br>
       <% end %>
    </div>

    <div class="col-md-2">
      <h2>単価(税込)</h2>
       <% @cart_items.each do |cart_item| %>
      <%= cart_item.product.price %></br>
      <% end %>
    </div>

    <div class="col-md-2">
      <h2>数量</h2>
      <% @cart_items.each do |cart_item| %>
       <%= form_with model: cart_item,url:cart_item_path(cart_item), local:true do |f| %>


       <%= f.select :amount, *[1..10] %>
       <% end %>
       <% end %>
    </div>

    <div class="col-md-2">
      <h2>小計</h2>
      <% @cart_items.each do |cart_item| %>
       <%= cart_item.product.introduction %></br>
        <% end %>
    </div>
    <div class="col-md-2">
    </div>



  </div>
</div>