<h2>商品一覧</h2>
 <table class="table">
  <thead>
   <tr>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
   </tr>
  </thead>
  <tbody>
<% @products.each do |product| %>
<tr>
 <td><%= product.id %></td>
 <td><%= link_to  admin_product_path(product) do %>
     <%= product.name %><% end %>
 </td>

 <td><%= product.price %></td>

 <td><%= product.genre.name %></td>


 <td><label for="product_is_activ"></label>
  <% if product.is_active == true %>
  <span>販売中</span>
  <% else %>
  <span>販売停止中</span>
  <% end %>
 </td>
 </tr>
<% end %>
</table>


<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#!" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#!">1</a></li>
    <li class="page-item"><a class="page-link" href="#!">2</a></li>
    <li class="page-item"><a class="page-link" href="#!">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#!" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

