<h1>商品新規登録</h1>
　<%= form_with model: @product,url:admin_products_path(@product), local:true do |f| %>
<h4>商品画像</h4>
  <label for="inputImage">商品画像</label>
  <%= f.attachment_field :image, placeholder: "プロフィール画像" %>
<h4>商品名</h4>
  <%= f.text_field :name %>
<h4>商品説明</h4>
  <%= f.text_area :introduction %>
  <!--<div class="field">-->
  <!--<%#= f.select :faculty, [["ケーキ", "ケーキ"], ["プリン", "プリン"], ["焼き菓子", "焼き菓子"], ["キャンディ", "キャンディ"]], include_blank: "--選択して下さい--" %>-->
  <!--</div>-->
 <h4>ジャンル</h4>
  <%= f.collection_select(:genre_id, @genres, :id, :name,prompt: "--選択してください--") %>
<h4>税抜価格</h4>
 <%= f.text_field :price %>円
<h4>販売ステータス</h4>
<%= f.radio_button :receive_news, '1' %>
<%= f.label :receive_news, '販売中', value: 1 %>

<%= f.radio_button :receive_news, '0' %>
<%= f.label :receive_news, '販売停止中', value: 0 %>


 <%= f.submit "新規登録" %>
<% end %>