<h2>注文履歴詳細</h2>
<div class="container">
 <div class="row">
  <div class="col">
   <h6>注文情報</h6>
   <table class="table table-bordered">
    <thead class="thead-light">
     <tr>
      <th scope="row">注文日</th>
      <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
    </tr>
    <tr>
     <th scope="row">配送先</th>
     <td>〒<%= @order.postal_code %></br>
           <%= @order.address %></br>
           <%= @order.name %></td>
    </tr>
    <tr>
     <th scope="row">支払方法</th>
     <td><%= @order.payment_method_i18n %></td>
    </tr>
    <tr>
     <th scope="row">ステータス</th>
     <td><%= @order.status %></td>
    </tr>
   </thead>
  </table>
 </div>
 <div class="col">
  <h6>請求情報</h6>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
       <th scope="row">商品合計</th>
       <td><%= @order.total_payment - shipping_cost  %></td>
      </tr>
      <tr>
       <th scope="row">配送料</th>
       <td><%= shipping_cost %></td>
      </tr>
      <tr>
       <th scope"row">ご請求額</th>
       <td><%= @order.total_payment %></td>
      </tr>
    </thead>
   </table>

  </div>
 </div>
 <div class="row">
  <div class="col-md-8">
   <h6>注文内容</h6>
   <table class="table table-bordered">
    <thead class="thead-light">
    <tr>
        <th>商品</th>
        <th>単価(税込)</th>
        <th>個数</th>
        <th>小計</th>
     </tr>
      <% @orders.each do |order| %>
       <tr>
        <td><%= order.product.name %></td>
        <td><%= order.tax_price %></td>
        <td><%= order.amount %></td>
        <td><%= order.tax_price * order.amount %></td>
       </tr>
       <% end %>

   </thead>
  </table>
  </div>
 </div>
</div>
